<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndUITalk">
        <activity
            android:name=".DrawerFoldActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer_slide"
            android:theme="@style/Theme.AndUITalk.NoActionBar" />
        <activity
            android:name=".PolyToPolyUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".PolyToPolyActivity"
            android:exported="false" />
        <activity
            android:name=".RotateLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Rote3DActivityXX"
            android:exported="false"
            android:label="@string/title_activity_rote3_dxx" />
        <activity
            android:name=".Rote3DActivityX"
            android:exported="false" />
        <activity
            android:name=".Rote3DActivity"
            android:exported="false" />
        <activity
            android:name=".Simple3DActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>