<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesen.recyclerviewtalk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndUITalk">
        <activity
            android:name=".activity.CoverFlowNewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CoverFlowActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OperateItemTouchHelperActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GridItemTouchHelperActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LinearItemTouchHelperActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RecycledSecondRemouldActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RecycledFirstRemouldActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomRecycledLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CustomLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DiffItemActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StaggeredActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GridActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LinearActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>